extends layout
	
block content
	section
		h2= title
		section.content
			nav
				a(href='#{url}/portfolio')
					| Portfolio 
					i.icon-picture
				a(href='#{url}/downloads/Jeremy-Freehill-Resume-Online-2016.pdf', target='_blank')
					| Resume 
					i.icon-doc-text
				a(href='http://linkedin.com/in/jeremyfreehill', target="_blank")
					| Contact
					i.icon-mail
				a(href='#{url}/about')
					| About
					i.icon-info-circled
				//- a(href='/lab')
				//- 	| Experiments 
				//- 	i.icon-beaker
			div.content-cap
			p.legal &copy;#{year} Jeremy Freehill