doctype html
html(lang='en').wf-loading
	head
		title Jeremy Freehill - #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
		meta(name="description", content="Front-end developer with 6 years of experience and a background in design")
		meta(property="og:description", content="Front-end developer with 6 years of experience and a background in design")
		meta(property="og:image", content="#{url}/img/img-fb-icon-200.png")
		meta(property="og:title", content="#{title}")
		meta(property="og:site_name", content="Jeremy Freehill")
		meta(property="og:url", content="#{url}#{path}")
		link(rel='icon', type='image/png', href='#{url}/img/favicon.png')
		link(rel='stylesheet', href='#{url}/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{url}/css/main.css')
		script(src='#{url}/js/modernizr.custom.min.js')
		script.
			// for async font loading
			WebFontConfig = { google: { families: ['Pacifico', 'Raleway:900, 500', 'Metal Mania'] } };
			(function(){var e=document.createElement("script");e.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js";e.type="text/javascript";e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-43034937-1', 'auto');
			ga('send', 'pageview');
	body(class=slug)

		header
			.line-5
			.line-4
			.line-3
			.line-2
			.line-1
			h1 
				a(href="/") Jeremy Freehill
		block content

		include includes/footer