doctype 5
html(lang='en').wf-loading
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		meta(property="og:image", content="#{url}/img/img-facebook-icon.png")
		meta(property="og:title", content="#{title}")
		meta(property="og:site_name", content="Jeremy Freehill")
		meta(property="og:description", content="Front-end oriented developer with a background in design and 2½ years in a large agency environment")
		meta(property="og:url", content="#{url}#{path}")
		link(rel='icon', type='image/png', href='#{url}/img/favicon.png')
		link(rel='stylesheet', href='#{url}/css/bootstrap.min.css')
		link(rel='stylesheet', href='#{url}/css/main.css')
		script(src='#{url}/js/modernizr.custom.min.js')
		script.
			// for async font loading
			WebFontConfig = { google: { families: ['Pacifico', 'Raleway:900, 500'] } };
			(function(){var e=document.createElement("script");e.src=("https:"==document.location.protocol?"https":"http")+"://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js";e.type="text/javascript";e.async="true";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
	body(class=slug)

		header
			h1 
				a(href="/") Jeremy Freehill
		block content

		include includes/footer