extends layout

block content
	section.wrap
		include includes/nav
		a.open-menu
			i.icon-menu
		
		section.content
			section.full-entry
				h1.client #{entry.client}
				h2.project #{entry.project}
				//- only display entries if data is passed
				
				
				p #{entry.description}
				
				if entry.features
					h3 Features:
					ul
					each feature in entry.features
						li #{feature}
				section.right-column
					img(src='/img/thumbs/#{entry.thumb}')
					if entry.link
						a(href='#{entry.link}', target='_new').see-it
							| See It
							i.icon-link-2
			
						
