extends layout

block content
	section.wrap
		include includes/nav
		a.open-menu
			i.icon-menu
		h2
			i.icon-picture
			| #{title}
		section.content
			section.entries
				//- only display entries if data is passed
				if appData
					each entry in appData.entries
						li(class="entry")
							a(href='portfolio/#{entry.slug}')
								img(src='/img/thumbs/#{entry.thumb}')
								span
									i.icon-link-2
								section.info
									h1.client #{entry.client}
									h2.project #{entry.project}