extends layout

block content
	section.wrap
		include includes/nav
		a.open-menu
			i.icon-menu

		nav.entry-nav
			if prevEntry
				a(href="/portfolio/#{prevEntry}").previous 
					i.icon-angle-circled-left
					p Previous
			if nextEntry
				a(href="/portfolio/#{nextEntry}").next 
					i.icon-angle-circled-right
					p Next

		section.content
			section.full-entry
				div.left
					h1.client #{entry.client}
					h2.project #{entry.project}
				div.right
					img(src='/img/gallery/#{entry.slug}-01.jpg')
				div.left
					//- only display entries if data is passed				
					if entry.features
						h3 Features:
						ul.features
							each feature in entry.features
								li #{feature}
					if entry.link
						a(href='#{entry.link}', target='_blank').see-it
							| See It
							i.icon-link-ext-alt
					else
						p.see-it No Link :(
			
				
		div.content-cap
		p.legal &copy;2013 Jeremy Freehill
						
